.root {
    padding: 12px 24px;
    border-radius: 12px;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.primary {
    background-color: #70DDA7;
}

.secondary {
    background-color: #F6F6F6;
}